body {
	background-color: #EAF6F6;

	
}
h1, h2, h3{
	color: #66BFBF;
}
hr{
	
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 5px;
	width: 10%;

}

img{
	-webkit-box-shadow: 0px 1px 48px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 48px -14px rgba(0,0,0,0.75);
box-shadow: 0px 1px 48px -14px rgba(0,0,0,0.75);
border-radius: 50%
}