<!DOCTYPE html>
<html>
<head>
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
	<div class="header">
		<div class="container header-container">
			<div class="logo">
				NedCod
				
			</div>
			<div class="nav">
				<div class="nav-item"><a href="#">Home</a></div>
				<div class="nav-item"><a href="">Srevice</a></div>
				<div class="nav-item"><a href="">About</a></div>
				<div class="nav-item"><a href="">Contact</a></div>
				<div class="nav-item"><a href="">Policy</a></div>
				
			</div>
			
		</div>
		
	</div>
</header>
<main>
	<!--Banner-->
	<div class="banner">
		<dir class="overly">
			<div class="banner-text">
				<div class="padd">
					<h1 class="banner-title">Build With Us</h1>
					<p class="banner-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p>
						<button class="btn banner-btn"><a href="">Get Started</a></button>
					</p>
					
				</div>
				
			</div>
			
		</dir>
		
	</div>
</main>
<footer>
	<div class="srevice">
		<h2>How Service Get..</h2>
		<div class="container srevice-container">
			<div class="srevices">
				<div class="srevices-img">
					<img src="./asset/img/img-4.jpg">
					
				</div>
				<div class="srevices-details">
					
				</div>
			</div>
		</div>
		
	</div>
</footer>
</body>
</html>